/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

@font-face {
    font-family: 'Code';
    src: url('fonts/CODELight.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Code';
    src: url('fonts/CODEBold.otf');
    font-weight: bold;
    font-style: normal;
}

html {background: url(images/bg.png) repeat-x left top,url(images/bg3.png) repeat-x left bottom,url(images/bgcolor.png);}

	/*background: url(images/scroll_top.jpg) no-repeat center top,
	url(images/scroll_bottom.jpg) no-repeat center bottom,
	url(images/scroll_middle.jpg) repeat-y center top;*/

body {
	width: 1000px;
	margin: 0px auto;
	font-family: Verdana,Arial,Code,Sans-serif;
}

h1 {
	font-family: Code,Verdana,Sans-serif;
	font-weight: bold;
	font-size: 27pt;
	color: black;
	margin: 0 0 5px 0;
}

h2 {
	font-family: Code,Verdana,Sans-serif;
	font-weight: bold;
	font-size: 22pt;
	color: #2385dc;
	margin: 0 0 5px 0;
}

h4 {
	font-family: Code,Verdana,Sans-serif;
	font-weight: bold;
	font-size: 12pt;
	color: #2385dc;
	margin: 5px 0 0 0;
}

a, a:visited, a:active {
	color: #1e72bd;
	text-decoration: none;
}

a:hover {
	color: #cbcbcb;
}

img {
	max-width:700px;
}

/*img:hover {
	box-shadow: 5px 5px 5px #888888;
	-webkit-transition: box-shadow .3s;
	-moz-transition: box-shadow .3s;
	-o-transition: box-shadow .3s;
	transition: box-shadow .3s;
}*/

header {
	font-family: Code,Verdana,Sans-serif;
	font-weight: bold;
	height: 84px;
	padding-top: 75px;
	font-size: 48pt;
	color: white;
}

header a, header a:visited, header a:active {
	color: white;
	text-decoration: none;
}

header a:hover {
	color: white;
}

nav {
	font-family: Code,Verdana,Sans-serif;
	font-weight: bold;
	height: 60px;
	font-size: 16pt;
	background: #1e72bd;
	margin: 0 auto 10px auto;
	text-align: center;
	line-height: 60px;
}

nav a, nav a:visited, nav a:active {
	color: white;
	background: #1e72bd;
	display: inline-block;
	padding: 0 30px;
	margin: 0;
	text-decoration: none;
}

nav a:hover {
	color: #1e72bd;
	background: white;
	-webkit-transition: background .2 ease-in;
	-moz-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}

aside {
	width: 228px;
	background: white;
	padding: 10px;
	margin-bottom: 10px;
	border:1px solid #a2a2a2;
}

.right {float: right;}
.left{float: left;}

.post, .project, #files {
	background: white;
	width: 698px;
	padding: 20px;
	margin-bottom: 10px;
	border:1px solid #a2a2a2;
}

.important {color:red; font-weight: bold;}

.icons {height:48px;line-height:48px;vertical-align:text-bottom;}
.icons img {width:32px;height:32px;display:inline-block;vertical-align:middle;}

.icons h2 {padding-bottom:16px;}

.icons img:hover {
	box-shadow: 10px 10px 5px #222;
	-webkit-transition: box-shadow .2s, -webkit-transform .2s;
	-moz-transition: box-shadow .2s, transform .2s;
	-o-transition: box-shadow .2s, transform .2s;
	transition: box-shadow .2s, transform .2s;
	 -ms-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
}

.profile img {
	width: 150px;
	height: 158px;
	border-radius:200px;
	border: 2px solid black;
	background: #1e72bd;
	text-align: center;
	margin:5px 0 5px 37px;
}

.profile img:hover {
		-webkit-transition: -webkit-transform .5s;
	-moz-transition: transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}

code,pre {
	display: block;
	background: #ccc;
	margin: 10px 0;
	padding: 10px;
}

.project img {
	text-align: center;
}

.project h4 {
	margin: 10px 0;
}

.project p {
	margin: 10px 0;
}

.projectImg {
	float: left;
	margin-right: 10px;
	border: 1px solid black;
}

footer {
	margin-top:50px;
	clear: both;
	padding-top:30px;
	min-height: 129px;
}

footer h4 {
	font-family: Code,Verdana,Sans-serif;
	font-weight: bold;
	font-size: 12pt;
	color: black;
	margin: 5px 0 0 0;
}

footer section {
	margin-top: 5px;
	border-left: 1px solid black;
	display:block;
	padding: 5px;
}

/******END MAIN PAGE STYLE******/

/******BEGIN FILE LIST STYLE******/

#files table {
	width: 100%;
	border-collapse: collapse;
	text-align:right;
}
#files th {
border-bottom: 2px solid black;
}
#files td {
	padding: 5px;
}
.filename {
	text-align:left;
	max-width: 250px;
	overflow:hidden;
}
#files .filename a {padding-left: 25px;}
#files .filename a[href*="."] {
	background: url(/images/icons/text.ico) no-repeat left center;
}
#files .filename a[href*="/"] {
	background: url(/images/icons/folder.png) no-repeat left center;
}
#files .filename a[href$=".pdf"] {
	background: url(/images/icons/reader.ico) no-repeat left center;
}
#files .filename a[href$=".png"], #files .filename a[href$=".jpg"], #files .filename a[href$=".gif"] {
	background: url(/images/icons/image.ico) no-repeat left center;
}
#files .filename a[href$=".zip"] {
	background: url(/images/icons/zip.ico) no-repeat left center;
}
#files .filename a[href*=".doc"] {
	background: url(/images/icons/word.ico) no-repeat left center;
}
#files tr {
	border-bottom: 1px solid #b3b3b3;
}
#files tr:hover {
background: #c4c4c4;
}
#files .filename a:hover{
	color: black;
}
#files h3 {
	font-size: 17pt;
	font-family: Code,Verdana,Sans-serif;
	font-weight: bold;
	color: #2385dc;
	margin: 0 0 10px 0;
}
#files #dirTree {
	padding-bottom: 10px;
	display:block;
}

/******END FILE LIST STYLE******/

/******BEGIN CAROUSEL STYLE******/

#carousel {
	width: 738px;
	height: 400px;
	position:relative;
	margin-bottom:10px;
}

#carousel:hover {
	box-shadow: 5px 5px 5px #888888;
	-webkit-transition: box-shadow .3s;
	-moz-transition: box-shadow .3s;
	-o-transition: box-shadow .3s;
	transition: box-shadow .3s;
}

#slide {
	width:100%;
	height:100%;
	position:relative;
	border: 1px solid black;
	background: white;
}

#slide img {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
	opacity:0;
	transition: opacity 0.6s;
	z-index:-1;
}

#slide figcaption {
	opacity:0;
	transition: opacity 0.3s;
	position:absolute;
	bottom:0;
	width: 100%;
	text-align:center;
	line-height:25px;
	background: rgba(0,0,0,0.5);
	height: 25px;
	/*text-shadow: 0 0 1px #000;*/
	color: rgba(255,255,255,0.9);
	z-index:5;
}

#carouseltop {
	position:absolute;
	top:0;
	left:0;
	width: 740px;
	text-align:center;
	background: rgba(0,0,0,0.5);
	height: 23px;
	z-index:5;
}

#carouseltop img {margin-left: 2px;}

#previous,#next {
	color: white;
	background: #1e72bd;
	display: inline-block;
	height:100%;
	padding: 0 10px;
	margin: 0;
	text-decoration: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}

#previous:hover,#next:hover {
	color: #1e72bd;
	background: white;
	-webkit-transition: background .2 ease-in;
	-moz-transition: background .2s ease-in;
	-o-transition: background .2s ease-in;
	transition: background .2s ease-in;
}

/******END CAROUSEL STYLE******/