<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Profile</title>
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
</head>
<body class="dark">
    <div class="sticky-wrap">
        <nav id="main-nav" class="collapse">
            <div class="container">
                <span class="brand">ZackRauen</span>
                <button id="menuButton" class="expand left" aria-label="Menu">
                    <span class="rectangle"></span>
                    <span class="rectangle"></span>
                    <span class="rectangle"></span>
                </button>
                <ul class="navbar-nav nav ml-auto">
                    <li class="nav-item"><a href="#home" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#resume" class="nav-link">Resume</a></li>
                    <li class="nav-item"><a href="#projects" class="nav-link">Projects</a></li>
                    <li class="nav-item"><a href="#blog" class="nav-link">My Blog</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <section class="fullscreen" id="home">
        <div id="matrix"></div>
        <!-- <canvas id="matrix-canvas"></canvas> -->
        <div class="container">
            <div class="title">
                <h3>Hey there! I'm</h3>
                <h1>Zack Rauen</h1>
                <h2>And I'm <span id="jobtitle">an Engineer</span></h2>
            </div>
            <div class="content">
                <div class="stat">
                    <div class="label">Repos</div>
                    <div class="value">{{github.count}}</div>
                </div>
                <div class="stat">
                    <div class="label">Stars</div>
                    <div class="value">{{github.stars}}</div>
                </div>
                <div class="stat">
                    <div class="label">Issues</div>
                    <div class="value">{{github.issues}}</div>
                </div>
            </div>
            <a class="btn btn-primary btn-fab" href="#about">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg>
            </a>
        </div>
    </section>
    <section class="flex container half-padded" id="about">
        <div class="flex column">
            <div class="flex">
                <div class="flex-50 animate-on-scroll fade-up"><img id="myuglymug" src="assets/images/self.png" /></div>
                <div class="flex-50 content-pad animate-on-scroll fade-up">
                    <div class="flex column">
                        <h2>About Me</h2>
                        <p>{{about.blurb}}</p>
                        <ul class="about-info">
                            {% for label, value in about.fields %}
                                <li><span class="label">{{label}}</span> <span>{{value}}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary py-3 px-3">Download CV</a>
                </div>
            </div>
            <div class="flex socials">
                {% for label, value in socials %}
                    <a href="{{value}}" class="animate-on-scroll fade-up" target="_blank" rel="noopener">
                        <img src="https://zackrauen.com/images/social/{{label | lower}}_small.png" class="social-icon" alt="{{label}}" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section class="flex container padded" id="resume">
        <div class="flex-25 resume-nav-wrap">
            <nav id="resume-nav">
                <ul>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#publications">Publications</a></li>
                    <li><a href="#skills">Skills</a></li>
                </ul>
            </nav>
        </div>
        <div class="flex-75">
            <div id="experience" class="resume-section">
                <h2 class="heading animate-on-scroll fade-up">Experience</h2>
                {% for exp in resume.experience %}
                    <div class="resume-entry">
                        <div class="resume-icon experience"></div>
                        <div class="resume-info">
                            <span class="date">{{exp.start}} - {{exp.end}}</span>
                            <h2>{{exp.title}}</h2>
                            <span class="company">{{exp.company}}</span>
                            <p>{{exp.blurb}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="education" class="resume-section">
                <h2 class="heading animate-on-scroll fade-up">Education</h2>
                {% for edu in resume.education %}
                    <div class="resume-entry">
                        <div class="resume-icon education"></div>
                        <div class="resume-info">
                            <span class="date">{{edu.start}} - {{edu.end}}</span>
                            <h2>{{edu.degree}}</h2>
                            <span class="company">{{edu.school}}</span>
                            <p>{{edu.blurb}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="publications" class="resume-section">
                <h2 class="heading animate-on-scroll fade-up">Publications &amp; Awards</h2>
                {% for pub in resume.publications %}
                    <div class="resume-entry">
                        <div class="resume-icon publication"></div>
                        <div class="resume-info">
                            <span class="date">{{pub.date}}</span>
                            <h2>{{pub.journal}}</h2>
                            <span class="company">{{pub.authors}}</span>
                            <p>{{pub.title}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="skills" class="resume-section">
                <h2 class="heading animate-on-scroll fade-up">Skills</h2>
                <div class="flex showcase">
                    <div class="flex flex-justify column flex-33 animate-on-scroll fade-up">
                        <div class="tile">
                            <h2>Skill</h2>

                            <div class="meter">
                                <h2>50%</h2>
                                <svg class="graph percent-50" viewbox="0 0 100 100">
                                    <circle cx="50" cy="50" r="40" stroke="#ccc" stroke-width="4" class="bar" />
                                    <circle cx="50" cy="50" r="40" stroke="#428bca" stroke-width="4" class="fill" />
                                </svg> 
                            </div>


                            <div class="flex details">
                                <div class="flex-50">
                                    <h4>28%</h4><span class="small text-gray">Last week</span>
                                </div>
                                <div class="flex-50">
                                    <h4>60%</h4><span class="small text-gray">Last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-justify column flex-33 animate-on-scroll fade-up">
                        <div class="tile">
                            <h2>Skill</h2>

                            <div class="meter">
                                <h2>75%</h2>
                                <svg class="graph percent-75" viewbox="0 0 100 100">
                                    <circle cx="50" cy="50" r="40" stroke="#ccc" stroke-width="4" class="bar" />
                                    <circle cx="50" cy="50" r="40" stroke="#428bca" stroke-width="4" class="fill" />
                                </svg> 
                            </div>


                            <div class="flex details">
                                <div class="flex-50">
                                    <h4>28%</h4><span class="small text-gray">Last week</span>
                                </div>
                                <div class="flex-50">
                                    <h4>60%</h4><span class="small text-gray">Last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-justify column flex-33 animate-on-scroll fade-up">
                        <div class="tile">
                            <h2>Skill</h2>

                            <div class="meter">
                                <h2>100%</h2>
                                <svg class="graph percent-100" viewbox="0 0 100 100">
                                    <circle cx="50" cy="50" r="40" stroke="#ccc" stroke-width="4" class="bar" />
                                    <circle cx="50" cy="50" r="40" stroke="#428bca" stroke-width="4" class="fill" />
                                </svg> 
                            </div>

                            <div class="flex details">
                                <div class="flex-50">
                                    <h4>28%</h4><span class="small text-gray">Last week</span>
                                </div>
                                <div class="flex-50">
                                    <h4>60%</h4><span class="small text-gray">Last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="progress animate-on-scroll fade-up">
                        <div class="progress-info"><h3>Photoshop</h3><span>90%</span></div>
                        <div class="progress-bar"><div class="progress-fill" style="width: 90%"></div></div>
                    </div>
                    <div class="progress animate-on-scroll fade-up">
                        <div class="progress-info"><h3>Photoshop2</h3><span>30%</span></div>
                        <div class="progress-bar"><div class="progress-fill" style="width: 30%"></div></div>
                    </div>
                    <div class="progress animate-on-scroll fade-up">
                        <div class="progress-info"><h3>Photoshop3</h3><span>66%</span></div>
                        <div class="progress-bar"><div class="progress-fill" style="width: 66%"></div></div>
                    </div>
                    <div class="progress animate-on-scroll fade-up">
                        <div class="progress-info"><h3>Photoshop4</h3><span>12%</span></div>
                        <div class="progress-bar"><div class="progress-fill" style="width: 12%"></div></div>
                    </div>
                    <div class="progress animate-on-scroll fade-up">
                        <div class="progress-info"><h3>Photoshop5</h3><span>75%</span></div>
                        <div class="progress-bar"><div class="progress-fill" style="width: 75%"></div></div>
                    </div>
                    <div class="progress animate-on-scroll fade-up">
                        <div class="progress-info"><h3>Photoshop6</h3><span>100%</span></div>
                        <div class="progress-bar"><div class="progress-fill" style="width: 100%"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flex column padded" id="projects">
        <div class="flex container column heading animate-on-scroll fade-up">
            <h2>Projects</h2>
            <p>A small sample of my work. More can be found on <a href="https://github.com/rauenzi" target="_blank" rel="noopener noreferrer">my GitHub</a>.</p>
        </div>
        <div class="flex flex-wrap">
            <div class="flex flex-33 project animate-on-scroll fade-up">
                <a href="#" class="wrapper">
                    <img src="assets/images/bdicon.png" class="icon" />
                    <div class="info">
                        <h3>BetterDiscord</h3>
                        <p>A popular 3rd party modification for the Discord instant messaging platform.</p>
                    </div>
                </a>
            </div>
            <div class="flex flex-33 project animate-on-scroll fade-up">
                <a href="#" class="wrapper">
                    <img src="assets/images/bdicon.png" class="icon" />
                    <div class="info">
                        <h3>BetterDiscord</h3>
                        <p>A popular 3rd party modification for the Discord instant messaging platform.</p>
                    </div>
                </a>
            </div>
            <div class="flex flex-33 project animate-on-scroll fade-up">
                <a href="#" class="wrapper">
                    <img src="assets/images/bdicon.png" class="icon" />
                    <div class="info">
                        <h3>BetterDiscord</h3>
                        <p>A popular 3rd party modification for the Discord instant messaging platform.</p>
                    </div>
                </a>
            </div>
            <div class="flex flex-33 project animate-on-scroll fade-up">
                <a href="#" class="wrapper">
                    <img src="assets/images/bdicon.png" class="icon" />
                    <div class="info">
                        <h3>BetterDiscord</h3>
                        <p>A popular 3rd party modification for the Discord instant messaging platform.</p>
                    </div>
                </a>
            </div>
            <div class="flex flex-33 project animate-on-scroll fade-up">
                <a href="#" class="wrapper">
                    <img src="assets/images/bdicon.png" class="icon" />
                    <div class="info">
                        <h3>BetterDiscord</h3>
                        <p>A popular 3rd party modification for the Discord instant messaging platform.</p>
                    </div>
                </a>
            </div>
            <div class="flex flex-33 project animate-on-scroll fade-up">
                <a href="#" class="wrapper">
                    <img src="assets/images/bdicon.png" class="icon" />
                    <div class="info">
                        <h3>BetterDiscord</h3>
                        <p>A popular 3rd party modification for the Discord instant messaging platform.</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="flex container padded" id="blog"></section>
    <section class="flex container padded" id="contact"></section>
    <script src="scripts.js"></script>
</body>
</html>