:root {
    --accent-color: #018BBC; /* #3E64FF; */
    --success-color: #3BA55D;
    --danger-color: #ED4245;
    --background-main: #fff;
    --text-heading: #000;
    --text-primary: #666;
    --background-secondary: #fff;
    --hex-clip: polygon(50% 0, 93.333% 25%, 93.333% 75%, 50% 100%, 6.666% 75%, 6.666% 25%);
}

body.dark {
    
    --text-heading: #fff;
    --text-primary: #ccc;
    --background-main: #2A2A2A;
    --background-secondary: #181818;
    --background-tertiary: #1D1D1D;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 60px 0 0 0;
    font-family: poppins,Arial,sans-serif;
    background: var(--background-main);
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: var(--text-primary);
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    background-color: transparent;
    transition: .3s all ease;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.5;
    color: var(--text-heading);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: disclosure-closed;
    padding-left: 15px;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-25 {
    flex: 0 0 25%;
    max-width: 25%;
}

.flex-33 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.flex-50 {
    flex: 0 0 50%;
    max-width: 50%;
}

.flex-66 {
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
}

.flex-75 {
    flex: 0 0 75%;
    max-width: 75%;
}

@media only screen and (max-width:768px) {
    .flex-25,
    .flex-33,
    .flex-50,
    .flex-66,
    .flex-75 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.content-pad {
    padding: 3rem;
}

.content-pad:first-child {
    padding-left: 0;
}

.content-pad:last-child {
    padding-right: 0;
}

.animate-on-scroll, .resume-entry {
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width:768px) {
    .animate-on-scroll, .resume-entry {
        visibility: visible;
        opacity: 1;
        animation: none;
    }
}

.animate-on-scroll + .animate-on-scroll {
    animation-delay: .25s;
}

.animate-on-scroll + .animate-on-scroll:nth-child(3) {
    animation-delay: .5s;
}

.animate-on-scroll + .animate-on-scroll:nth-child(4) {
    animation-delay: .75s;
}

.animate-on-scroll + .animate-on-scroll:nth-child(5) {
    animation-delay: 1s;
}

.animate-on-scroll + .animate-on-scroll:nth-child(6) {
    animation-delay: 1.25s;
}

.resume-entry.animate,
.fade-up.animate {
    animation-name: fade-up;
}

.animate {
    animation-duration: .5s;
    animation-fill-mode: both;
}

@keyframes fade-up {
	from {
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 40px ,0)
	}

	to {
		visibility: visible;
		opacity: 1;
		transform: none;
	}
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 24px 36px -11px rgba(0,0,0,.09);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 1rem;
    border: 1px solid transparent;
    color: #fff;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}

.btn.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.btn.btn-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
}

.btn.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}

.sticky-wrap {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.expand {
    display: none
}

button.expand {
    position: relative;
    padding: 9px;
    margin: 9.5px 0;
    border: 0 solid #000;
    border-radius: 4px;
    background: 0 0;
    color: #fff;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s
}

.expanded button.expand {
    background-color: #000;
    -webkit-transition: -webkit-transform .5s, background-color .5s;
    -moz-transition: transform .5s, background-color .5s;
    -o-transition: transform .5s, background-color .5s;
    transition: transform .5s, background-color .5s;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.expanded .rectangle {
    background: #fff;
}

.rectangle {
    display: block;
    width: 24px;
    height: 4px;
    border-radius: 1px;
    background: var(--text-heading);
    transition: transform .5s, background-color .5s;
}

.rectangle + .rectangle {
    margin-top: 5px
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    /* background: rgba(0,0,0, 0.3); */
    background-color: var(--background-secondary);
    transition: box-shadow 200ms ease-in;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    border-bottom: 1px solid black;
}

#main-nav:hover {
    /* background: rgba(0,0,0, 1); */
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
}

#main-nav ul {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

#main-nav ul li {
    font-size: 16px;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    font-weight: 400;
    height: 50px;
}

#main-nav ul li a {
    color: var(--text-heading);
    position: relative;
}

#main-nav ul li a.active {
    color: var(--accent-color);
}

#main-nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -14px;
    left: 0;
    background: var(--accent-color);
    transform: scaleX(0);
    transition: transform .3s ease-in-out 0s;
}

#main-nav ul li a.active::after {
    transform: scaleX(1);
}

#main-nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav .brand {
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 700;
    display: none;
}

.fullscreen {
    width: 100%;
    height: calc(100vh - 60px);
    position: inherit;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
    display: block;

    background: url("assets/backgrounds/lighthex.webp") #202020;
}

@keyframes rainbow {
	from {
		filter: hue-rotate(0deg);
	}

	to {
		filter: hue-rotate(360deg);
	}
}

.fullscreen .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fullscreen .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 100px 100px; */
    height: 550px;
    width: 550px;
    background: radial-gradient(circle, rgba(29, 29, 29, 0.9) 50%, rgba(0, 0, 0, 0) 80%);
    background-size: contain;
}

.fullscreen h1 {
    font-size: 60px;
    font-weight: 800;
}

.fullscreen h2 {
    font-size: 2rem;
    font-weight: 800;
}

.fullscreen h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: var(--accent-color);
    letter-spacing: 4px;
}

#jobtitle {
    border-bottom: 5px solid var(--accent-color);
    /* border-right: .15em solid gray; */
    /* animation: blink-caret 200ms ease infinite; */
    animation: typing 3.5s steps(40, end);
    position: relative;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto;
}

#jobtitle::after {
    content: "";
    display: inline-block;
    border-left: .15em solid gray;
    /* opacity: 1; */
    animation: blink .75s step-end infinite;
    position: absolute;
    height: 75%;
    right: -10px;
    top: 12%;
}

@keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}

/* #jobtitle::after {
    border-bottom: 5px solid var(--accent-color);
} */

.fullscreen .content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.fullscreen .stat + .stat {
    margin-left: 20px;
    padding-left: 20px;
    /* border-left: 1px solid rgba(255, 255, 255, 0.5); */
}

.fullscreen .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullscreen .btn-fab {
    padding: 0;
    background-color: var(--accent-color);
    border-radius: 0;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    clip-path: var(--hex-clip);
}

.fullscreen .btn-fab svg {
    fill: #fff;
    height: 60px;
    animation: go-down 500ms alternate infinite;
}

.fullscreen .btn-fab:hover svg {
    animation-duration: 200ms;
}

@keyframes go-down {
    from {
        transform: translateY(-5%);
    }
    to {
        transform: translateY(5%);
    }
}

#about {
    position: relative;
}

#about::before {
    content: "";
    display: block;
    position: absolute;
    background: url("assets/backgrounds/darkhex.webp");
    width: 100vw;
    height: 100vh;
    top: 0;
    left: calc(((100vw - 1120px) / 2) * -1);
    background-repeat: no-repeat;
    overflow: hidden;
}

#about h2 {
    font-size: 50px;
    font-weight: 700;
}

#myuglymug {
    /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
    clip-path: polygon(50% 0, 93.333% 25%, 93.333% 75%, 50% 100%, 6.666% 75%, 6.666% 25%);
}

.about-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
}

.about-info li {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
}

.about-info li .label {
    font-weight: 600;
    color: var(--accent-color);
    width: 130px;
}

.socials {
    padding-top: 50px;
    justify-content: space-evenly;
    align-items: center;
}

/* .socials a {
    clip-path: var(--hex-clip);
    width: 64px;
    height: 64px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
/* 
.socials a.facebook {
    background-color: #3C5B9B;
}

.socials a.twitter {
    background-color: #2DAAE1;
}

.socials a.instagram {
    background-color: #517FA4;
}

.socials a.github {
    background-color: #201F1F;
}

.socials a.linkedin {
    background-color: #0173B2;
} */

.social-icon {
    border-radius: 0;
    transition: filter 50ms ease-out;
    clip-path: var(--hex-clip);
    width: 64px;
    height: 64px;
}

.socials a:hover {
    filter: drop-shadow(0 0 3px rgba(255,255,255,.7));
}

@media only screen and (max-width:768px) {
    .resume-nav-wrap {
        display:none;
    }
}

#resume-nav {
    top: 180px;
    position: sticky;
    margin: 0;
}

#resume-nav {
    margin: 0;
    padding: 0;
}

#resume-nav li {
    font-weight: 700;
    list-style: none;
    margin-bottom: 10px;
}

#resume-nav a {
    color: var(--text-heading);
    position: relative;
}

#resume-nav a::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    bottom: 0;
    left: -15px;
    background: var(--accent-color);
    transform: scaleY(0);
    transition: transform .3s ease-in-out 0s;
}

#resume-nav a.active {
    color: var(--accent-color);
}

#resume-nav a.active::before {
    transform: scaleY(1);
}


#resume .heading {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--accent-color);
}

#resume .resume-entry {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding-bottom: 10px;
}

#resume .resume-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 0;
    clip-path: var(--hex-clip);
    background-color: var(--accent-color);
    background-position: center center;
    background-repeat: no-repeat;
}

#education .resume-icon {
    background-image: url(assets/icons/education.svg);
}

#experience .resume-icon {
    background-image: url(assets/icons/experience.svg);
}

#publications .resume-icon {
    background-image: url(assets/icons/publication.svg);
}

.resume-info h2 {
    font-size: 24px;
    font-weight: 700;
}

.resume-info h2 .self {
    color: var(--accent-color);
}

#resume .resume-info {
    width: calc(100% - 50px);
    padding-left: 1rem;
}

.resume-entry .date {
    font-weight: 700;
    font-size: 16px;
    color: rgba(0,0,0,.6);
    color: var(--accent-color);
}

.resume-entry .company {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-heading);
}



section.padded {
    padding: 7em 0;
}

section.half-padded {
    padding: 3.5em 0;
}

#projects .heading {
    justify-content: center;
    align-items: center;
}

#projects .heading h2 {
    font-size: 50px;
    font-weight: 700;
}

#projects .project {
    padding-right: 15px;
    padding-left: 15px;
}

#projects .project a {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin-bottom: 40px;
    padding: 2em;
    background: var(--background-secondary);
    width: 100%;
}

#projects .project a:hover {
    background: #202020;
}

.project .icon {
    width: 96px;
    height: 96px;
    margin-bottom: 30px;
    background-color: var(--background-main);
    padding: 10px;
    clip-path: var(--hex-clip);
}

.project .info,
.project .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project .wrapper {
    justify-content: space-evenly;
}

.project .info h3 {
    line-height: 1.3;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    color: var(--text-heading);
    margin-bottom: 3rem !important;
}

.project .info h3::after {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 1px;
    background: var(--accent-color);
    margin: 0 auto;
}

.project .info p {
    color: var(--text-primary);
    text-align: center;
}










#contact .heading {
    justify-content: center;
    align-items: center;
}

#contact .heading h2 {
    font-size: 50px;
    font-weight: 700;
}

#contact img.contact-avatar {
    width: 50%;
    margin-bottom: 1rem;
    clip-path: var(--hex-clip);
}


#contactform #honeypot {
    display: none;
}

#contactform {
    padding: 5rem;
    gap: 12px;
    background: #202020;
    border: 1px solid black;
}

.text-input {
    height: 52px;
    background: #2A2A2A;
    color: #fff;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #000;
    transition: border-color 0.15s ease-in-out;
    font-family: inherit;
}

.text-input::placeholder {
    color: #fff;
}

.text-input:focus {
    border-color: var(--accent-color);
}

textarea.text-input {
    height: inherit;
}




footer {
    padding: 2em 0 3.5em 0;
    background: var(--background-tertiary);
}

footer .container {
    gap: 3.5em;
}

footer .links ul {
    list-style: "# ";
}

footer p {
    max-width: 300px;
}








.splitview {
    padding: 3em 0;
    max-width: 1300px;
}

.splitview .left,
.splitview .right {
    padding: 0 10px;
}

.project-sidebar,
.project-markdown {
    width: 100%;
    border: 1px solid black;
}

.project-markdown {
    display: flex;
    flex-direction: column;
    padding: 3em;
    background: #202020;
}

.project-markdown h1 {
    font-size: 3rem;
}

.project-markdown h2 {
    font-size: 2.5rem;
}

.project-markdown h3 {
    font-size: 2rem;
}

.project-markdown h4 {
    font-size: 1.5rem;
}

.project-markdown h5 {
    font-size: 1rem;
}

.project-markdown img {
    border-radius: 10px;
    border: 1px solid black;
    align-self: center;
}

.project-markdown hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: rgba(255,255,255,0.2);
}

.project-markdown pre {
    overflow-x: auto;
    width: 100%;
}

.project-markdown h1,
.project-markdown h2,
.project-markdown h3,
.project-markdown h4,
.project-markdown h5 {
    margin: 1rem 0;
}

.project-markdown h1 {
    margin-top: 0;
}

.project-sidebar {
    display: flex;
    margin-bottom: 10px;
    background: #202020;
    padding: 3em;
}


/* .c100.big {
    font-size: 240px;
}

.meter {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #cccccc;
}

.meter::after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #fff;
    width: 0.84em;
    height: 0.84em;
    transition: all 200ms ease-in;
}

.meter h2 {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #cccccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.meter .graph {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.graph .bar,
.over-50 .graph .fill {
    position: absolute;
    border: 0.08em solid var(--accent-color);
    height: 100%;
    width: 100%;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
}

.over-50 .graph .fill {
    transform: rotate(180deg);
}

.meter.percent-50 .bar {
    transform: rotate(237.6deg);
} */

#skills .showcase {
    margin-bottom: 3rem;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 1.5rem;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    background: var(--background-secondary)
}

.meter {
    position: relative;
}

.meter h2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph {
    height: 150px;
}

.graph .fill {
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-dasharray: 255; /* (2PI * 40px) */
    stroke-dashoffset: 255;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-fill-mode: forwards; */
    stroke: var(--accent-color);
    fill: transparent;
    position: absolute
}

.graph .bar {
    stroke: #ccc;
    fill: transparent;
}

@keyframes fill-meter {
    from {
        stroke-dashoffset: 255;
    }
}

.animate > .tile .graph .fill {
    animation-name: fill-meter;
}

/* .animate > .tile .percent-50 .fill {
    animation-name: percent-50;
    stroke-dashoffset: 128;
}
  
@keyframes percent-50 {
    from {
        stroke-dashoffset: 255;
    }
}

.percent-75 .fill {
    animation-name: percent-75;
}
  
@keyframes percent-75 {
    to {
        stroke-dashoffset: 64;
    }
}

.percent-100 .fill {
    animation-name: percent-100;
}
  
@keyframes percent-100 {
    to {
        stroke-dashoffset: 0;
    }
} */

.tile .details {
    margin-top: 1.5rem;
    width: 100%;
    justify-content: space-between;
}

.tile .details .flex-50 {
    padding: 0 15px;
    text-align: center;
    flex: 0 0 50%!important;
}

.tile .details .flex-50:first-child {
    border-right: 1px solid rgba(255,255,255,0.1);
}

.tile .details .subskill {
    display: block;
    font-size: 1.5rem;
}

.tile .details .small {
    font-size: 80%;
    font-weight: 400;
}



.progress {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    margin-bottom: 30px;
    padding: 0 15px;
}

.progress-info {
    display: flex;
    justify-content: space-between;
}

.progress-info span {
    font-size: 16px;
    font-weight: 700;
    color: var(--accent-color);
}

.progress-bar,
.progress-fill {
    height: 10px;
    box-shadow: none;
    background: #ccc;
    overflow: visible;
}

.progress-fill {
    background: var(--accent-color);
    animation-duration: 1s;
    animation-timing-function: linear;
    width: 0;
}

@keyframes fill-bar {
    from {
        width: 0;
    }
}

.progress.animate .progress-fill {
    animation-name: fill-bar;
}


















@media only screen and (max-width:1000px) {
    .expand {
        display: inline-block
    }

    #main-nav {
        padding-top: 0;
        white-space: nowrap
    }

    #main-nav .brand {
        display: block;
    }

    #main-nav .container {
        justify-content: space-between;
    }

    #main-nav li:hover ul,
    #main-nav li:hover ul li,
    #main-nav ul li ul,
    #main-nav ul li ul li {
        display: none;
        width: 0;
        height: 0;
        visibility: hidden
    }

    #main-nav.collapse ul,
    #main-nav.collapse ul li {
        display: block;
        /* line-height: 50px; */
        width: 0;
        overflow: hidden;
        text-align: left;
        /* padding-left: 10px; */
        transition: width .5s
    }

    #main-nav.collapse ul {
        position: fixed;
        top: 59px;
        right: 0;
        bottom: 0;
        border-left: 0px solid #000;
        background: var(--background-secondary);
        transition: box-shadow 500ms ease, width 500ms;
    }

    #main-nav.collapse ul li,
    #main-nav.expanded ul,
    #main-nav.expanded ul li {
        /* display: block; */
        /* visibility: visible; */
        width: 100%;
        /* padding: 0 */
    }

    #main-nav.expanded ul {
        position: fixed;
        top: 59px;
        bottom: 0;
        right: 0;
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        width: 175px;
        height: auto;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
        transition: width .5s
    }

    #resume .heading {
        text-align: center;
    }

    #resume .resume-entry {
        padding: 1.5rem;
    }
}












@keyframes twinkle_one {
    0%   { opacity: 1; filter: hue-rotate(0deg);}
    20%  { opacity: 1; filter: hue-rotate(72deg);}
    40%  { opacity: 0; filter: hue-rotate(144deg);}
    60%  { opacity: 0; filter: hue-rotate(216deg);}
    80%  { opacity: 1; filter: hue-rotate(288deg);}
    100% { opacity: 1; filter: hue-rotate(360deg);}
}

@keyframes twinkle_two {
    0%   { opacity: 0; filter: hue-rotate(0deg);}
    20%  { opacity: 0; filter: hue-rotate(72deg);}
    40%  { opacity: 1; filter: hue-rotate(144deg);}
    60%  { opacity: 1; filter: hue-rotate(216deg);}
    80%  { opacity: 0; filter: hue-rotate(288deg);}
    100% { opacity: 1; filter: hue-rotate(360deg);}
}

@keyframes twinkle_three {
    0%   { opacity: 0; filter: hue-rotate(0deg);}
    20%  { opacity: 1; filter: hue-rotate(72deg);}
    40%  { opacity: 1; filter: hue-rotate(144deg);}
    60%  { opacity: 0; filter: hue-rotate(216deg);}
    80%  { opacity: 0; filter: hue-rotate(288deg);}
    100% { opacity: 1; filter: hue-rotate(360deg);}
}

@keyframes halfway-blink {
    0%   { opacity: 1; filter: hue-rotate(0deg);}
    60%  { opacity: 0; filter: hue-rotate(216deg);}
    100% { opacity: 1; filter: hue-rotate(360deg);}
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 30px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes fall-off {
    from {transform: translateY(0);}
    to {transform: translateY(100vh);}
}

#matrix, #matrix-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background: var(--background-tertiary);
}

.binary {
    position: absolute;
    font-weight: bold;
    color: var(--accent-color);
    transform: translateX(0) translateY(0);
    animation: halfway-blink var(--lifetime) ease-in infinite, fall-off var(--lifetime) ease-in;
}

.binary-size1 {
    font-size: 8px;
    --lifetime: 3s;
}
.binary-size2 {
    font-size: 14px;
    --lifetime: 5s;
}
.binary-size3 {
    font-size: 20px;
    --lifetime: 7s;
}

/* .binary-twinkle1 {
    animation: twinkle_one var(--lifetime) ease-in infinite, fall-off var(--lifetime) ease-in;
}
.binary-twinkle2 {
    animation: twinkle_two var(--lifetime) ease-in infinite, fall-off var(--lifetime) ease-in;
}
.binary-twinkle3 {
    animation: twinkle_three var(--lifetime) ease-in infinite, fall-off var(--lifetime) ease-in;
} */

