{% extends "./base.njk" %}

{% block content %}
<div class="flex container splitview">
    <div class="flex flex-75 left">
        {% block left %}
            {{content | safe}}
        {% endblock %}
    </div>
    <div class="flex flex-25 column right">
        {% block right %}
            {{content | safe}}
        {% endblock %}
    </div>
</div>
{% endblock %}